"<p><span style=\"font-size:16px\"><span style=\"font-family:Arial,Helvetica,sans-serif\"><img alt=\"\" src=\"/sites/default/files/New%20Line%20Flow%20n%28Assisted%20Channel_%20RETAIL%20Store%2C%20Unassisted%20Channel_%20WEB_APP%29.png\" style=\"height:1519px; width:1200px\" /></span></span></p>"