"<p><span style=\"font-size:16px\"><strong>Below is Activation sequence diagram showing trade in and agreements</strong></span></p><p><img alt=\"\" src=\"/sites/default/files/NewLine_OrderV2_With_TradeIn_0.png\" style=\"height:3972px; width:1408px\" /></p>"