"<p>Browse partner details and partner IDs to be used with TPAS APIs.</p><p><iframe frameborder=\"0\" height=\"1000\" scrolling=\"yes\" src=\"https://tpas-service-portal-ui.kube.t-mobile.com/partnerdata\" width=\"1000\"></iframe></p>"