"<p>Distribution &amp; Logistics Core Capbilities....</p><ul>\t<li>PO/ASN</li>\t<li>Receive</li>\t<li>Distro Order</li>\t<li>Shipment</li>\t<li>Inventory Adjustment</li>\t<li>Inventory Reconciliation</li></ul>"